In [131]:
from textblob import TextBlob

In [132]:
def fetch_sentiment_using_textblob(text):
    analysis = TextBlob(text)
    return 'pos' if analysis.sentiment.polarity >= 0 else 'neg'

In [133]:
from pandas_datareader import data
import pandas as pd

In [ ]:
tweets_df = pd.read_csv(tweets#abc.csv)

In [135]:
sentiments_using_textblob = tweets_df.Tweet.apply(lambda tweet: fetch_sentiment_using_textblob(tweet))

pd.DataFrame(sentiments_using_textblob.value_counts())

     Tweet
pos  21233
neg   3507

In [136]:
tweets_df['sentiment'] = sentiments_using_textblob
tweets_df.head()

                                               Tweet sentiment
0  $BABA company #profile, #Fundamental and #Tech...       pos
1  $BABA - Alibaba: Patience Is A Must As Overall...       pos
2  I'm part of a server where top traders actuall...       pos
3  Chinese official have no idea how equity marke...       pos
4  RT @Options: Most Active Equity Options For Mi...       pos

In [137]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [138]:
def fetch_sentiment_using_SIA(text):
    sid = SentimentIntensityAnalyzer()
    polarity_scores = sid.polarity_scores(text)
    return 'neg' if polarity_scores['neg'] > polarity_scores['pos'] else 'pos'

In [ ]:
tweets_df = pd.read_csv(tweets.csv)

In [140]:
sentiments_using_SIA = tweets_df.Tweet.apply(lambda tweet: fetch_sentiment_using_SIA(tweet))
pd.DataFrame(sentiments_using_SIA.value_counts())

     Tweet
pos  19629
neg   5111

In [141]:
tweets_df['sentiment'] = sentiments_using_SIA
tweets_df.head()

                                               Tweet sentiment
0  $BABA company #profile, #Fundamental and #Tech...       pos
1  $BABA - Alibaba: Patience Is A Must As Overall...       pos
2  I'm part of a server where top traders actuall...       pos
3  Chinese official have no idea how equity marke...       neg
4  RT @Options: Most Active Equity Options For Mi...       pos